@font-face {
    font-family: "Sansation";
    font-style: normal;
    font-weight: normal;
    src: url("sansation/Sansation_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RiotSquad";
    font-style: normal;
    font-weight: normal;
    src: url("RiotSquadNF.ttf") format("truetype");
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Piotr Bulinski's styles for DjangoCircus */
body {
    font-family: "Sansation", Verdana, sans-serif;
    background:#fcfdf1 url('../img/bg.jpg') no-repeat left top;
}

.header {
    font-family: "RiotSquad", Impact, fantasy;
    font-size: 30px;
}

.header .small {
    font-family: "Sansation", Verdana, sans-serif;
    font-size: 20px;
}

.top_menu {
    background:#172423 url('../img/bg_top.jpg') no-repeat 1040px top;
    height: 57px;
    width: 100%;
    padding-left: 410px;
    margin-bottom: 280px;
}

a {
    text-decoration: none;
}

.top_menu ul li {
    display: inline-block;
    font-size: 24px;
    color: #dad9a4;
    padding-top: 14px;
    padding-left: 30px;
}

.top_menu ul li a {
    color: #dad9a4;
}

.top_logo {
    position: absolute;
    left: 7px;
    top: 5px;
}

.box_container {
    width: 460px;
    padding-left: 20px;
    float: left;
}

/** about **/
.about {
    width: 400px;
}

.about .header {
    width: 403px;
    height: 67px;
    background: url('../img/h_about.png') no-repeat;
    padding-top: 20px;
    padding-left: 30px;
}

.about .body {
    text-align: justify;
    padding-left: 44px;
    padding-right: 10px;
}

.about .footer {
    background: url('../img/e_about_dots.png') no-repeat;
    margin-left: 40px;
    margin-top: 14px;
    height: 5px;
    width: 403px;
}

/** location **/
.location {
    margin-top: 110px;
    width: 400px;
}

.location .header {
    width: 403px;
    height: 67px;
    background: url('../img/h_about.png') no-repeat;
    padding-top: 20px;
    padding-left: 30px;
}

.location .body {
    text-align: justify;
    padding-left: 44px;
    padding-right: 10px;
}

.location .map {
    background: url('../img/e_map.png') no-repeat;
    margin-top: 14px;
    padding-top: 20px;
    padding-left: 40px;
    height: 171px;
    width: 382px;
}

/** networks **/

.networks {
    width: 400px;
    height: 120px;
}

.networks .network {
    float: left;
    padding: 7px;
}

.networks .network .counter {
    background: url('../img/e_net_count.png') no-repeat;
    width: 66px;
    height: 34px;
    font-size: 20px;
    padding-top: 13px;
    text-align: center;
}

.networks .network .icon {
    margin: 7px 12px;
    width: 39px;
    height: 37px; 
}

.icon.google {
    background: url('../img/i_g.png') no-repeat;
}

.icon.facebook {
    background: url('../img/i_f.png') no-repeat;
}

.icon.twitter {
    background: url('../img/i_t.png') no-repeat;
}

/** twitter **/
.twitter {
    background: url('../img/b_twitter.png') no-repeat;
    width: 437px;
    height: 661px;
}

.twitter .header {
    height: 67px;
    width: 330px;
    padding-top: 45px;
    padding-left: 50px;
    text-align: center;
}

.red {
    color: #d01e32;
}

.twitter .tweets {
    width: 320px;
    height: 150px;
    margin-top: 30px;
    margin-left: 64px;
    overflow: scroll;
    overflow-y: scroll;
}

.twitter .tweets .tweet {
    text-align: justify;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

/** newsletter **/
.newsletter {
    margin-top: -160px;
    background: url('../img/e_newsletter.png') no-repeat 20px 35px;
    width: 433px;
    height: 319px;
}

.newsletter .header {
    width: 403px;
    height: 52px;
    background: url('../img/h_about.png') no-repeat;
    padding-top: 20px;
    padding-left: 30px;
}

.newsletter .body {
    margin-left: 42px;
    width: 340px;
    text-align: justify;
}

.newsletter .form {
    margin-left: 42px;
    width: 340px;
    text-align: center;
}

.newsletter .form td {
    padding-top: 5px;
}

.newsletter .form label,
.newsletter .form input[type=text] {
    line-height: 18px;
    background-color: #ececd1;
    padding: 12px 3px;
}

.newsletter .form label {
    display: block;
    font-size: 16px;
    color: #d01e32;
    width: 60px;
}

.newsletter .form input[type=text] {
    font-size: 14px;
    border: 0px;
    width: 268px; 
}

.newsletter .form input[type=button] {
    font-family: "RiotSquad", Impact, fantasy;
    font-size: 30px;
    background: url('../img/e_button.png') no-repeat;
    width: 152px;
    height: 49px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
