{% extends 'index.html' %}

{% block title %}
	<title>Code of Conduct - DjangoCon Europe 2013</title>
{% endblock title %}

{% block metadescription %}
	<meta name="description" content="We share the Django community's commitment to diversity, openness and inclusivity, and have adopted the PyCon Code of Conduct for this event.">
{% endblock metadescription %}

{% block content %}
<div class="popup">
    <div class="header">
       Code of conduct
    </div>
        <div class="content">
            <p>DjangoCon Europe is a community conference intended for networking and collaboration in the developer community.</p>
            <p>We value the participation of each member of the Python community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events, whether officially sponsored by DjangoCon or not.
            </p>
            <p>To make clear what is expected, all delegates, speakers, exhibitors and volunteers at any DjangoCon event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.</p>

            <h3>The Short Version</h3>
            <p>DjangoCon is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.</p>

            <p>All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks.</p>

            <p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for DjangoCon.</p>

            <p>Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.</p>

            <p>Thank you for helping make this a welcoming, friendly event for all.</p>

            <h3>The Longer Version</h3>
            <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

            <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

            <p>Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>

            <p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for DjangoCon.</p>

            <p>If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

            <h3>Contact Information</h3>
            <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff. Conference staff will be wearing "DjangoCon Staff" t-shirts. </p>

            <p>If the matter is especially urgent, please call/contact any of these individuals:<br />
                Ola Sitarska at +48 502-926-090<br />
                Kuba Kucharski at +48 507-870-575</p>
            <br /><br />
            <p><b>License</b><br />
            We adopted <a href="https://us.pycon.org/2013/about/code-of-conduct/">PyCon US code of conduct</a> which is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>


        </div>

    </div>
{% endblock content %}