{% extends 'index.html' %}

{% block title %}
    <title>Get Around - DjangoCon Europe 2013</title>
{% endblock title %}

{% block content %}
<div class="popup venue">
    <div class="header">
       Get Around Tips & Tricks
    </div>
    <div class="content">

        <div id="travel">
            <h2>Travelling to Warsaw</h2>
            <h3>By plane</h3>
            In Warsaw there are two aiports: <a href="http://www.lotnisko-chopina.pl/en/passenger">Warsaw Chopin Airport (WAW)</a> and <a href="http://en.modlinairport.pl/">Modlin Aiport (WMI)</a>.<br />
            However, WAW is far better option). Getting from Modlin Airport to the city won't be the best way to fall in love with Warsaw :)
            Warsaw Chopin Airport is located only 10 minutes away from our <a href="/venue/">Venue</a> and <a href="/hotel/">Hotel</a>. See the section below to get directions.

            <h3>By train</h3>
            Leave the train at Warsaw Central Station - it's in the center of the city, so ~15 minutes to the <a href="/venue/">Venue</a> and <a href="/hotel/">Hotel</a>.
            See the section below to get directions.
        </div>

        <div id="transport">
            <h2>Public transport</h2>
            <h3>Subway</h3>
            We have only one line of subway, so that's a good thing for you: no way to get lost.
            You can either go South (direction: Kabaty) or North (direction: Młociny). It's the fastest and most comfortable public transport in Warsaw.

            <h3>Tram & Buses</h3>
            There is a good and big network of trams and buses in our city.
            Trams are much faster than buses, so if you can - choose commuting by tram.

            <h3>Tickets</h3>
            A ticket for 5 days costs 30 PLN (~7.5€, ~$10). Tickets for students are always half price (you need your student id for them to be valid).
            You can buy them in ticket machines at most of the stations, in kiosks, sometimes even in a bus or a tram. It'd be easiest if you buy one at the airport.
            Remember - you have to activate it by putting it in the validator in the tram/bus or subway gate and have it with you at all times.

            <h3>Your new friend</h3>
            Download <A href="https://itunes.apple.com/pl/app/jakdojade.pl/id506760190?mt=8">JakDojade</A> application for your iPhone,
            <A href="http://play.google.com/store/apps/details?id=com.citynav.jakdojade.pl.android">Android</A>,
            <A href="http://www.windowsphone.com/en-us/store/app/jakdojade-pl/c2eb426a-dd93-42c7-a8fe-f73a019635ad">Windows Phone</A> or use it as a <a href="http://www.jakdojade.pl">mobile website</A>.
            It's your new friend for public transport in Warsaw. It's very good. Do you know London's CityMapper? It works in a similar way.

            <h3>Taxi</h3>
            Taxis in Warsaw are rather cheap with one exception: at the airport or train station.
            Better call one of the taxis below, otherwise there is a big chance taxi driver could cheat you.
            1 km should cost you no more than 3 PLN (daytime), so the ride from airport to the conference venue (6km) should cost ~23-28 PLN (~7.5€, ~$10).<br /><br />

            Recommended taxi companies:<br />
            <li>Taxi app: iTaxi <a href="https://itunes.apple.com/hk/app/itaxi.pl-taksowki-w-smartfonie/id505936790?mt=8">iPhone</a>/<a href="https://play.google.com/store/apps/details?id=com.geckolab.eotaxi.passenger">Android</a> application (you can choose cash/credit card in settings)</li>
            <li>Wawa Taxi: +48229644 (you have to have cash if you don't tell them while ordering)</li>
            <li>Sawa Taxi: +48226444444 (they accept credit cards)</li>

        </div>

        <div id="others">
            <h2>Other stuff</h2>

            <h3>Venue</h3>
            We listed venues, address and maps on a separate page. Click <A href="/venue/">here</A> to get there.

            <h3>Hotel</h3>
            Recommended hotels with special deals for DjangoCon attendees are <a href="/hotel/">here.</A>

            <h3>Visa</h3>
            You bought a ticket but still haven't managed to get your Shengen Visa? If you need one, take a look <A href="http://blog.djangocircus.com/post/44215619892/polish-visa">here</A>

            <h3>SIM Card / Prepaid Data Plan</h3>
            There is one small problem with prepaid in Poland - starters come with a normal size sim card.
            So if you have iPhone 4 or 4s, or any phone with microSIM, you'll have to take scissors with you.. (yes, we tried it, you CAN cut your normal sized simcard into micro or nano card - it will work)<br />
            Don't even dream about nanoSIM (iPhone 5) in starter pack. ;)<br /><br />
            Good news is it's <b>VERY</b> cheap and sold everywhere. We recommend buying starter pack from <a href="http://www.play.pl/">Play network</a>.
            It's the cheapest, and they give decent internet included.
            <br /><br />
            From "Play" operator it will cost you 5 PLN (yes, ~1.5€, ~$1.8) and you'll get 250 MB of Internet for free. Of course low balance like this will not be enough to call home. Unlimited internet (3G) for whole month costs 10 PLN (~2.5€, ~$3.5)
        </div>

        <div style="clear:both;"></div>
    </div>
</div>
{% endblock content %}
