{% extends 'index.html' %}

{% block title %}
    <title>Get Around - DjangoCon Europe 2013</title>
{% endblock title %}

{% block content %}
<div class="popup venue">
    <div class="header">
       Get Around Tips & Tricks
    </div>
    <div class="content">
        <h2>Travelling to Warsaw</h2>
        <h3>By plane</h3>
        We have two aiports: Warsaw Chopin Airport (WAW) and Modlin Aiport (XXX). However, WAW should be your only option. Getting from XXX to the city won't be the best way to fall in love with Warsaw :) Warsaw Chopin Airport is located only 5 minutes away from our Venue and Hotel. See the Tranportation section to get directions.

        <h3>By train</h3>
        You should get out at Warsaw Central Station - it's in the center of the city, so ~15 minutes to the Venue and Hotel. See the Tranportation section to get directions.

        <h2>Public transport</h2>
        <h3>Subway</h3>
        We have only one line of subway, so that's a good thing for you: no way to get lost. You can either go South (direction: Kabaty) or North (direction: Młociny). It's the fastest and most comfortable public transport in Warsaw.

        <h3>Tram & Buses</h3>
        There is a good and big network of trams and buses in our city. Trams are much faster than buses, so if you can - choose commuting by tram.

        <h3>Tickets</h3>
        Normal ticket for 5 days is XX zł (~=X€ ~=$X). Tickets for students are always half price. You can buy them in tickets machine at the most of the stations, in kiosks. It'd be easiest if you buy one at the airport. Remember you have to activate it by putting it in the validator in the tram/bus or subway gate and have it with you all the time.

        <h3>Your new friend</h3>
        Download JakDojade application for your iPhone, Android or use it as a mobile website. It's your new friend for public transport in Warsaw. It's amazing and will save your butt a lot of times. Trust us :)

        <h2>Taxi</h2>
        Taxis in Warsaw are rather cheap with one execption: at the airport. Better call one of the taxis below, otherwise there is a big change they will cheat you.

        Recommended taxi companies:

        Taxi app: iTaxi is your friend.

        <h2>Hotel</h2>
        Recommended hotels with special deals for DjangoCon attendees are here.

        <h2>SIM Card</h2>
        --

        <h2>Venue</h2>
        We listed venues, address and maps on a seperate page. Click here to get there.

        <div style="clear:both;"></div>
    </div>
</div>
{% endblock content %}
