{% extends 'index.html' %}

{% block title %}
    <title>Get Around - DjangoCon Europe 2013</title>
{% endblock title %}

{% block content %}
<div class="popup venue">
    <div class="header">
       Get Around Tips & Tricks
    </div>
    <div class="content">
        <h2>Travelling to Warsaw</h2>
        <h3>By plane</h3>
        We have two aiports: Warsaw Chopin Airport (WAW) and Modlin Aiport (WMI).
        However, WAW is far better option:). Getting from Modlin Airport to the city won't be the best way to fall in love with Warsaw :)
        Warsaw Chopin Airport is located only 10 minutes away from our Venue and Hotel. See the <A href="#transportation">Transportation</A> section to get directions.

        <h3>By train</h3>
        Leave the train at Warsaw Central Station - it's in the center of the city, so ~15 minutes to the Venue and Hotel.
        See the <A href="#transportation">Transportation</A> section to get directions.

        <h2>Public transport</h2>
        <h3>Subway</h3>
        We have only one line of subway, so that's a good thing for you: no way to get lost.
        You can either go South (direction: Kabaty) or North (direction: Młociny). It's the fastest and most comfortable public transport in Warsaw.

        <h3>Tram & Buses</h3>
        There is a good and big network of trams and buses in our city.
        Trams are much faster than buses, so if you can - choose commuting by tram.

        <h3>Tickets</h3>
        A ticket for 5 days costs 30 PLN (~=7.5€ ~=$10). Tickets for students are always half price(you need your student id for them to be valid).
        You can buy them in tickets machine at the most of the stations, in kiosks, sometimes even in the bus or tram. It'd be easiest if you buy one at the airport.
        Remember - you have to activate it by putting it in the validator in the tram/bus or subway gate and have it with you at all times.

        <h3>Your new friend</h3>
        Download <A href="https://itunes.apple.com/pl/app/jakdojade.pl/id506760190?mt=8">JakDojade</A> application for your iPhone,
        <A href="http://play.google.com/store/apps/details?id=com.citynav.jakdojade.pl.android">Android</A>,
        <A href="http://www.windowsphone.com/en-us/store/app/jakdojade-pl/c2eb426a-dd93-42c7-a8fe-f73a019635ad">Windows Phone</A>, or use it as a mobile website.
        It's your new friend for public transport in Warsaw. It's very good. Do you know London's CityMapper? It's like this.

        <h2>Taxi</h2>
        Taxis in Warsaw are rather cheap with one exception: at the airport or train station.
        Better call one of the taxis below, otherwise there is a big change taxi driver could cheat you.
        1 km should cost you no more than 3 PLN, so the ride from airport to the conference venue(6km) should cost ~23-28 PLN.

        Recommended taxi companies:

        Taxi app: iTaxi Iphone/Android application (you have to have cash - PLN)
        Wawa Taxi: +48229644 (you have to have cash if you don't tell them while ordering)
        Sawa Taxi: +48226444444 - they accept credit cards


        <h2>Hotel</h2>
        Recommended hotels with special deals for DjangoCon attendees are <A href="http://blog.djangocircus.com/post/42376603125/sweet-hotel-deals">here.</A>

        <h2>Visa</h2>

        You bought a ticket but still haven't managed to get your Shengen Visa? If you need one, take a look <A href="http://blog.djangocircus.com/post/44215619892/polish-visa">here</A>


        <h2>SIM Card</h2>
        --

        <h2>Venue</h2>
        We listed venues, address and maps on a separate page. Click <A href="http://2013.djangocon.eu/venue/">here</A> to get there.

        <div style="clear:both;"></div>
    </div>
</div>
{% endblock content %}
