{% extends 'index.html' %}

{% block title %}
    <title>Hotel - DjangoCon Europe 2013</title>
{% endblock title %}

{% block content %}
<div class="popup venue">
    <div class="header">
       Hotel
    </div>
    <div class="content">
        <div>
            <h2>What's the deal?</h2>
            We wanted to help you find the best hotel option near the main venue, so here it is. You can find 4 hotel options below with pricing,  photos and instructions how to book. We also talk to these hotels and we got some special deals for you so make sure to follow the instructions carefully. In case of any question, contact us: <a href="mailto:hello@djangocircus.com">hello@djangocircus.com</a>.
        <div>

        <div>
            <h2><s>Hostel Słuzewiec **</s> (SOLD OUT)</h2>

            <img src="{{ STATIC_URL }}img/hotel_sluzewiec.jpg" width="450" />

            <b><a href="http://www.hostelsluzewiec.pl/en/" target="_blank">Hotel Służewiec</a> (we know, it’s a very funny name ;)) is just a 4 minutes walk from the <a href="/venue/">Circus Venue</a>.</b> <a href="/venue/">Sprints Venue</a> is only 20 minute subway ride away. It’s also very near to the airport and the subway.

            <div style="clear: both;"></div>

            <h3>Pricing for DjangoCon</h3>
            <p>Single STANDARD PLUS - 50 PLN / ~12 EUR / ~16 USD / night<br />
            Double STANDARD PLUS - 100 PLN / ~24 EUR / ~32 USD / night<br />
            Single KOMFORT - 90 PLN / ~22 EUR / ~29 USD / night<br />
            Double KOMFORT - 120 PLN / ~29 EUR / ~39 USD / night<br />
            Single LUX - 120 PLN / ~29 EUR / ~39 USD / night<br />
            Double LUX - 140 PLN / ~33 EUR / ~45 USD / night</p>

            <p><a href="http://www.hostelsluzewiec.pl/en/rooms">All room descriptions are here.</a> Notice that the cheapest room aren’t very much comfortable (shared bathroom) but they’ll be appreciated by students & those travelling on budget.</p>

            <h3>Booking</h3>
            <p>This hotel is SOLD OUT.</p>
        </div>

        <div>
            <h2>START Hotel Atos **</h2>

            <img src="{{ STATIC_URL }}img/hotel_atos.png" width="450" />

            <b><a href="http://www.hotelatos.pl/en/" target="_blank">Hotel Atos</a></b> is located 10 minutes taxi ride from the Circus Venue and 15 minutes from Sprints Venue. It's a standard two-star hotel. Each room has a free internet access. It's also right next to Best Western Hotel (listed below) which is much better choice if you're looking for higher standard.

            <div style="clear: both;"></div>

            <h3>Pricing for DjangoCon</h3>
            <p>Single KOMFORT room (breakfast included) - 140 PLN / ~33 EUR / ~45 USD / night<br />
            Double KOMFORT room (breakfast included) - 160 PLN / ~40 EUR / ~50 USD / night</p>

            <p><a href="http://www.hotelatos.pl/en/">All room descriptions are here.</a> Make sure to ask for a room with WIFI access while booking.</p>

            <h3>Booking</h3>
            <p>Unfortunately, if you want to book with special prices for DjangoCon attendees, there is no software for that. So the options are:</p>
            <p>1. <b>Call them: +48 22 207 71 00</b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
            <p>2. <b>Email them: <a href="mailto:atos@starthotel.pl">atos@starthotel.pl</a></b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
        </div>

        <div>
            <h2>BEST WESTERN Hotel Portos ***</h2>

            <img src="{{ STATIC_URL }}img/hotel_bestwestern.jpg" width="450" />

            <b><a href="http://www.bwportos.pl/en/" target="_blank">Best Western Hotel</a></b> is located 10 minutes taxi ride from the Circus Venue and 15 minutes from Sprints Venue. It's very comfortable and relaxing. Each room has a free internet access. It's also right next to Atos Hotel (listed above) which is much better choice if you're looking for more affordable option.

            <div style="clear: both;"></div>

            <h3>Pricing for DjangoCon</h3>
            <p>Single LUX room (breakfast included) - 210 PLN / ~50 EUR / ~65 USD / night<br />
            Double LUX room (breakfast included) - 225 PLN / ~55 EUR / ~70 USD / night</p>

            <p><a href="http://www.bwportos.pl/en/rooms">All room descriptions are here.</a> All rooms have a free internet access.</p>

            <h3>Booking</h3>
            <p>Unfortunately, if you want to book with special prices for DjangoCon attendees, there is no software for that. So the options are:</p>
            <p>1. <b>Call them: +48 22 207 61 00</b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
            <p>2. <b>Email them: <a href="mailto:rezerwacja@bwportos.pl">rezerwacja@bwportos.pl</a></b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
        </div>

        <div>
            <h2>Puławska Residence Hotel ***</h2>

            <img src="{{ STATIC_URL }}img/hotel_pulawska.jpg" width="450" />

            <b><a href="http://www.pulawskaresidence.com.pl/en/" target="_blank">Puławska Residence Hotel</a> is really, really near to the <a href="/venue/">Circus Venue</a>.</b> <a href="/venue/">Sprints Venue</a> is only 20 minute subway ride away. It's the most comfortable & luxurious hotel from all listed here. They also have a free WiFi in every room. Special perk? All the speakers are staying in Puławska Residence.

            <div style="clear: both;"></div>

            <h3>Pricing for DjangoCon</h3>
            <p>15% discount of regular prices. <a href="http://www.pulawskaresidence.com.pl/en/rooms">Take a look on the rooms here.</a> Regular pricing starts at 180 PLN / ~55 USD / ~44 EUR to 280 PLN / ~87 USD / ~68 EUR.</p>

            <h3>Booking</h3>
            <p>Unfortunately, if you want to book with special prices for DjangoCon attendees, there is no software for that. So the options are:</p>
            <p>1. <b>Call them: +48 22 241 75 90</b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
            <p>2. <b>Email them: <a href="mailto:rezerwacje@pulawskaresidence.com.pl">rezerwacje@pulawskaresidence.com.pl</a></b>. Make sure to let them know that you’re going for a DjangoCon conference (they promised to remember “Django” password ;))</p>
        </div>


        <div style="clear:both;"></div>
    </div>
</div>
{% endblock content %}
