<!doctype html>
<html>
<head>
    <title>DjangoCon Europe 2013 - best Django community event.</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="google-site-verification" content="t7HLmwO2QDEbBFL7MKpOqoViw0eED7tolEtKRQtlMI8" />
    <meta name="keywords" CONTENT="" />
</head>
<body>
<div class="top_menu">
    <ul>
        <li><a href="mailto:hello@djangocircus.com">Contact</a></li>
    </ul>
</div>

<img src="{{ STATIC_URL }}img/logo.png" alt="DjangoCon Europe Circus Edition" class="top_logo" />

<div class="box_container">
    <div class="about box">
        <div class="header">
            What's Django Circus?
        </div>

        <div class="body">DjangoCon Europe 2013, the best Django community event ever is on again! <b>This time we've decided to put some more magic and came up with this crazy idea of throwing a fun Django conference in a real CIRCUS.</b> Wonderful speakers, lovely city of Warsaw and amazing Django community. Ladies and Gentlemen, Children of all Ages, Welcome to the Greatest Show on Earth!</div>

        <div class="footer"></div>
    </div><!-- about -->

    <div class="location box">
        <div class="header">
            Warsaw, May 2013
        </div>

        <div class="body">We're really happy to host you in Warsaw, Poland and make this place your home for a few days in May 2013. We're still looking for a perfect, green and calm place for our crazy circus, so we'll update you as soon as we find one.</div>

        <div class="map">
            <a href="http://goo.gl/maps/N0G2g"><img src="{{ STATIC_URL }}img/map.png" alt="location map" /></a>
        </div>
    </div><!-- location -->

</div><!-- box_container -->
<div class="box_container">
	<!--
    <div class="networks box">
        <div class="network">
            <div class="counter">23</div>
            <div class="icon google"></div>
        </div>
        <div class="network">
            <div class="counter">164</div>
            <div class="icon facebook"></div>
        </div>
        <div class="network">
            <div class="counter">113</div>
            <div class="icon twitter"></div>
        </div>
    </div>
	-->
    <div class="twitter box">
        <div class="header">
            <span class="red">Follow</span> us on Twitter!<br/>
            <span class="small">Recent <span class="red">@DjangoCon</span> feed:</span>
        </div> 

        <div class="tweets">
            <div class="tweet">
            Comming soon :)
            </div>

        </div>
    </div>

    <div class="newsletter box">
        <div class="header">Newsletter</div>
        <div class="body">
            Leave us your email so we can keep you posted!    </div>
           
        
        <form action="http://djangocircus.us5.list-manage.com/subscribe/post?u=b2911be76638dbf5e3438f099&amp;id=0754b49e09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

        <table class="form">
            <tr>
                <td>
                    <label for="newsletter_name">Name:</label>
                </td><td>
                    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">

                </td>
            </tr>
            <tr>
                <td>
                    <label for="newsletter_email">E-mail:</label>
                </td><td>
                   <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </td>
            </tr>
        </table>
        
        </form>
        
    </div>
</div><!-- box_container -->

</body>
</html>

