<!doctype html>
<html>
<head>
    {% block title %}
	<title>DjangoCon Europe 2013 - best Django community event.</title>
    {% endblock title %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js" ></script>
    {% block extra_js %}{% endblock %}

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="google-site-verification" content="t7HLmwO2QDEbBFL7MKpOqoViw0eED7tolEtKRQtlMI8" />
    <meta name="keywords" CONTENT="" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
	{% block metadescription %}
	<meta name="description" content="Europe's biggest Django event, with three days of talks and two of sprints and workshops in Warsaw, May 2013">
	{% endblock metadescription %}
</head>
<body{% block body_class %}{% endblock %}>

<div class="second_background{% block secondbackground_class %}{% endblock %}">
<div class="top_menu">
    <div class="wrapper">
        <ul>

            <li><a href="{% url speakers:agenda %}">Agenda</a></li>
            <li><a href="{% url speakers:talks %}">Talks</a></li>
            <li><a href="{% if request.get_full_path == '/' %}#" id="scrollto-speakers{% else %}/speakers/{% endif %}">Speakers</a></li>
            <li><a href="{% if request.get_full_path == '/' %}#" id="scrollto-sponsors{% else %}/#sponsors{% endif %}">Sponsors</a></li>
            <li>•</li>
            <li><a href="/venue/">Venue</a></li>
            <li><a href="/hotel/">Hotel</a></li>
            <li><a href="/getaround/">Get around</a></li>
            <li>•</li>
            <li><a href="http://blog.djangocircus.com/">BLOG</a></li>
            <li><a href="/team/">Team</a></li>
            <li><a href="mailto:hello@djangocircus.com">Say hi!</a></li>
            <li><a href="https://github.com/djangocon/2013.djangocon.eu"><i class="icon-github-sign"></i></a></li>
        </ul>
    </div>
</div>
<div class="wrapper">
  <div class="logo_wrapper">
    <a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt="DjangoCon Europe Circus Edition" class="top_logo" /></a>
  </div>
  {% block content %}
    <div class="networks box">
        <div class="network">
            <div class="counter facebook">0</div>
            <a href="https://www.facebook.com/DjangoConEurope" target="_blank"><div class="icon facebook"></div></a>
        </div>
        <div class="network" style="margin-top:30px;">
            <div class="counter twitter">0</div>
            <a href="https://www.twitter.com/djangocon" target="_blank"><div class="icon twitter"></div></a>
        </div>
        <div class="network" style="margin-top:0px;">
            <div class="counter lanyard">{{ lanyard }}</div>
            <a href="http://lanyrd.com/2013/djangocon-europe/" target="_blank"><div class="icon lanyard"></div></a>
        </div>
    </div>

    <div class="tickets">
        <a href="http://tickets.djangocon.eu/"><img src="{{ STATIC_URL }}img/tickets.png" class="image" /></a>
        <p>This event is currently SOLD OUT. There is still a small chance:</p>
        <a href="http://tickets.djangocon.eu/"><img src="{{ STATIC_URL }}img/waitinglist.png" class="button" /></a>
    </div>
    <div style="clear:both;"></div>


    <div class="box_container">
        <div class="about box">
            <div class="header">
                What's DjangoCon?
            </div>

            <div class="body">DjangoCon Europe 2013, the best Django community event ever is on again! <b>This time we've decided to put some more magic and came up with this crazy idea of throwing a fun Django conference in a real CIRCUS.</b> Wonderful speakers, lovely city of Warsaw and amazing Django community. Ladies and Gentlemen, Children of all Ages, Welcome to the Greatest Show on Earth! <a href="http://blog.djangocircus.com/">See our blog for more news</a>.</div>

            <div class="footer"></div>
        </div><!-- about -->

        <div class="location box">
            <div class="header">
                Where?
            </div>

            <div class="body">We're really happy to host you in Warsaw, Poland and make this place your home for a few days in May 2013. We found a perfect place for our crazy circus - <b>Horse Racingtrack in Warsaw</b>. <a href="/venue/">See the Venue</a>.</div>

            <div class="header">
                When?
            </div>

            <div class="body">
                <p><b>15 - 17th May'13</b> <br /> three full days of talks. Kicks off at 9am everyday until 6pm.</p>
                <p><b>18 - 19th May'13</b> <br /> two days of sprints: let's hack together & contribute to open source world.</p>
                <p><a href="/schedule/">See the Schedule</a>.</a>
            </div>

        </div><!-- location -->

    </div><!-- box_container -->
    <div class="box_container">
        <div class="twitter box">
            <div class="header">
                <span class="red">Follow</span> us on Twitter!<br/>
                <span class="small">Recent <a href="https://twitter.com/djangocon" class="red" target="_blank">@DjangoCon</a> feed:</span>
            </div>

            <div class="tweets"></div>
        </div>

        <div class="newsletter box">
            <div class="header">Newsletter</div>
            <div class="body">
                Leave us your email so we can keep you posted!    </div>


            <form action="http://djangocircus.us5.list-manage.com/subscribe/post?u=b2911be76638dbf5e3438f099&amp;id=0754b49e09" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

            <table class="form">
                <tr>
                    <td class="label">
                        <label for="newsletter_name">Name:</label>
                    </td><td>
                        <input type="text" value="" name="FNAME" class="required" id="newsletter_name">

                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="newsletter_email">E-mail:</label>
                    </td><td>
                       <input type="email" value="" name="EMAIL" class="required email" id="newsletter_email">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </td>
                </tr>
            </table>

            </form>

        </div>
    </div><!-- box_container -->
    <div style="clear:both;"></div>
    <div id="speakers">
        {% for speaker in speakers %}
            <a href="/speakers/#{{ speaker.slug }}">
            <div>
                <img src="{{ speaker.photo }}" alt="{{ speaker }}" />
                <h4>{{ speaker }}</h4>
                <span>{{ speaker.title }}</span>
            </div>
            </a>
       {% endfor %}
    </div>

    <div style="clear:both;"></div>



    <div id="sponsors">
        <div class="header">Sponsors</div>

        <div id="diamond" class="logos">
            <h3>Diamond</h3>
            <p>
                <a href="http://divio.ch/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/divio_off.png" /></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="platinium" class="logos">
            <h3>Platinium</h3>
            <p>
                <a href="http://newrelic.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/newrelic_off.png" style="margin:0 40px 0 0px" /></a>
                <a href="http://mozilla.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/mozilla_off.png" style="margin-right:0" /></a>

            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="party" class="logos">
            <h3>Circus Party Host</h3>
            <p>
                <a href="http://sendgrid.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/sendgrid_off.png" /></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="sprint" class="logos">
            <h3>Sprint Host</h3>
            <p>
                <a href="http://www.hardgamma.com/en" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/hardgamma_off.png" /></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="gold" class="logos">
            <h3>Gold</h3>
            <p>
                <a href="http://djangostars.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/djangostars_off.png" width="200" /></a>
                <a href="http://www.jetbrains.com/pycharm/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/pycharm_off.png" width="200" /></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="silver" class="logos">
            <h3>Silver</h3>
            <p>
                <a href="http://10clouds.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/10clouds_off.png" width="170" /></a>
                <a href="http://getnicer.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/nicer_off.png" width="170" /></a>
                <a href="http://www.nephila.it/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/nephila_off.png" /></a>
                <a href="http://www.elasticsearch.org/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/elasticsearch_off.png" style="float: left; margin-top: 5px;" /></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <div id="supporter" class="logos">
            <h3>Supporter</h3>
            <p>
                <a href="http://heroku.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/heroku_off.png" /></a>
                <a href="http://github.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/github_off.png" /></a>
                <a href="http://megiteam.pl/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/megiteam_off.png" /></a>
                <a href="http://mailjet.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/mailjet_off.png" /></a>
                <a href="http://www.synopsi.tv/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/synopsi_off.png" /></a>
                <a href="http://stickermule.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/stickermule_off.png" /></a>
                <a href="http://wazoku.com/" target="_blank"><img src="{{ STATIC_URL }}img/sponsors/wazoku_off.png" style="float:left; margin-top:-3px;"/></a>
            </p>
            <div style="clear:both;"></div>
        </div>

        <a href="/static/pdf/Sponsorship_1.0.1.pdf"><img src="{{ STATIC_URL }}img/sponsorship_opportunities.png" class="sponsorship_opportunities" alt="Sponsorship opportunities" ></a>

    </div>
    {% endblock content %}

</div>
</div>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35218987-1']);
    _gaq.push(['_setDomainName', 'djangocon.eu']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>

