{% extends 'index.html' %}

{% block title %}
    <title>DjangoCon Europe 2013 - Speakers</title>
{% endblock title %}

{% block metadescription %}
	<meta name="description" content="DjangoCon Europe 2013 presents a varied line-up of speakers on themes covering the range of Django-related matters.">
{% endblock metadescription %}

{% block content %}
    <div id="team">
        <div class="popup" id="russell">
            <div class="header">Russell Keith-Magee</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/russell.png" alt="Russell Keith-Magee" />
                </p>
                <p class="circusrole">Circus role: Antipode</p>
                    Russell has been a core developer on the Django project since January 2006. He is an active participant on the Django Users and Django Developers mailing lists, and has been a mentor in the Google Summer of Code since 2008. He is also President of the Django Software Foundation, and co-founder of TradesCloud.com. He lives with his wife, son, daughter, and two cats in Perth, Western Australia.
                <p><a href="http://twitter.com/freakboy3742"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="popup" id="craig">
            <div class="header">Craig Kerstiens</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/craig.png" alt="Craig Kerstiens" />
                </p>
                I'm one of the team at Heroku, currently working on the Heroku Postgres team. At Heroku I've launched our Python and Django support, worked to improve the broader platform, and now guide the product on the Heroku Postgres offering.
                <p><a href="http://twitter.com/craigkerstiens"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="popup" id="andrew">
            <div class="header">Andrew Godwin</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/andrew.png" alt="Andrew Godwin" />
                </p>
                <p class="circusrole">Circus role: Rigger</p>
                    Andrew is a Python programmer, Django core developer and the author of South, the Django migrations framework, and has been programming, maintaining and herding machines for over a decade. When he's not sitting in front of a computer screen, he enjoys flying planes, archery, and cheese.
                <p><a href="http://twitter.com/andrewgodwin"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="popup" id="jeff">
            <div class="header">Jeff Lindsay</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/jeff.png" alt="Jeff Lindsay" />
                </p>

                <p class="circusrole">Circus role: Snake Charmer</p>
                Freelance software developer and open source wizard. Previously worked at Twilio and NASA. Founded SuperHappyDevHouse and Hacker Dojo.
                <p><a href="http://twitter.com/progrium"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>


        <div class="popup" id="lynn">
            <div class="header">Lynn Root</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/lynn.png" alt="Lynn Root" />
                </p>
                <p class="circusrole">Circus role: Grenade thrower</p>
                Lynn Root is an engineer for Red Hat on the freeIPA team, known for breaking VMs & OpenShift, and being loud about it.  She is the founder & leader of PyLadies San Francisco, and the de facto missionary for the PyLadies word.  Lastly, she has an unhealthy obsession for coffee, twitter, and socializing.
                <p><a href="http://twitter.com/roguelynn"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>


        <div class="popup" id="kenneth">
            <div class="header">Kenneth Reitz</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/kenneth.png" alt="Kenneth Reitz" />
                </p>
                <p class="circusrole">Circus role: Uniformist</p>
                Kenneth Reitz is the product owner of Python at Heroku and a member of the Python Software Foundation. He embraces minimalism, elegant architecture, and simple interfaces.
                Kenneth is well known for his many <A HREF="http://kennethreitz.com/pages/open-projects.html">open source projects</A>, specifically <A href="http://python-requests.org/">Requests</A>.

                <p><a href="http://twitter.com/kennethreitz"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>


        <div class="popup" id="Rob">
            <div class="header">Rob Spectre</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/rob.png" alt="Rob Spectre" />
                </p>
                <p class="circusrole">Circus role: Sideshow Barker</p>
                Rob Spectre is a punk rock technolologist having a barrel of monkeys on the Internet.
                Doing just about anything for a good laugh, Rob runs developer evangelism for Twilio and is an ardent supporter of open source software and creative commons art, the startup scene in New York, and every professional sports club from Boston.  Having previously served in network and software engineering roles for SugarCRM and Boxee, he is a growth startup veteran coming up on his first decade in early stage tech. In addition to writing on Brookyn Hacker, Rob runs a number of exploits into Internet ridiculousness, including the heartwarming documentary service how i knew you were the one, the robotic telephonic joke machine Laugh-o-Tron, and the Nobel Prize-losing Chrome Extension Jeter Filter.
                Living and working in Brooklyn, Rob loves laughing, writing and failing to act his age by staying out of the most pit.
                <p><a href="http://twitter.com/dN0t"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>


        <div class="popup" id="Steve">
            <div class="header">Steve Holden</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/steve.png" alt="Steve Holden" />
                </p>
                <p class="circusrole">Circus role: Magician</p>
                Steve Holden is known throughout the Python and Django worlds as a stimulating speaker with a broad knowledge of computing generally and Python in particular.
                Steve has been on the board of the Python Software Foundation since 2004,
                and served four years as the Foundation's chairman. His latest venture,
                The Open Bastion, produces technical events and conferences including <A href="http://djangocon.us/">DjangoCon US</A>,
                 <A href="http://apachecon.eu/">ApacheCon US</A>,  <A href="http://collab12.cloudstack.org/">Cloudstack Collaboration Conference</A>
                and <A href="http://na.apachecon.com/">ApacheCon NA</A>.

                <p><a href="http://twitter.com/holdenweb"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="popup" id="Jacob">
            <div class="header">Jacob Kaplan-Moss</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/jacob.png" alt="Jacob Kaplan-Moss" />
                </p>
               Back in 2005, Jacob joined Lawrence Journal-World, a Kansas newspaper company, and began working with Adrian Holovaty and Simon Willison on what was known as "the CMS" - a Python alternative to the newspapers' PHP systems that were starting to strain under their own weight. "The CMS" became Django.  It took shape as a framework and was released under its BSD licence in 2005. <br />
               Jacob is a founder of the Django Software Foundation and a partner at Revolution Systems.

                <p><a href="http://twitter.com/jacobian"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="popup" id="Jannis">
            <div class="header">Jannis Leidel</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/jannis.png" alt="Jannis Leidel" />
                </p>
              Jannis graduated in media design from Bauhaus-University Weimar, is the author of a number of pluggable Django apps and likes to contribute to Open Source projects like virtualenv and pip.<br /><br />

              He has worked on Django’s auth, admin and staticfiles apps as well as the form, core, internationalization and test systems. He currently works as the lead engineer at <a href="http://gidsy.com/">Gidsy</a>.

                <p><a href="http://twitter.com/jezdez"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="popup" id="Zachary">
            <div class="header">Zachary Voase</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/zack.png" alt="Zachary Voase" />
                </p>
                <p class="circusrole">Circus role: Big Top</p>
                I'm a freelance hacker and Python aficionado, and I've been using Django since 0.96. In my work time I like to criticise the software I use, and in my free time I like to fix it. When I'm not in front of a computer, I'm probably in a kitchen.

                <p><a href="http://twitter.com/zacharyvoase"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="popup" id="Mike">
            <div class="header">Mike Swift</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers/mike.png" alt="Mike Swift" />
                </p>
                Meet Swift, developer evangelist at-large for <a href="http://sendgrid.com/">SendGrid</a> and mad scientist hacker. As a lifelong developer himself, Swift has made it his personal mission to enable developers by helping them get the tools and resources they need to make awesome, creative stuff. Swift is also one of the founders of <a href="https://www.hackerleague.org/">Hacker League</a>, the platform for hackathons, a former engineer at Crowdtap, and an alumni of Rutgers University.

                <p><a href="http://twitter.com/swiftalphaone"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>


    </div>
{% endblock content %}