{% extends 'index.html' %}

{% block title %}
	<title>DjangoCon Europe 2013 - Speakers</title>
{% endblock title %}

{% block metadescription %}
	<meta name="description" content="DjangoCon Europe 2013 presents a varied line-up of speakers on themes covering the range of Django-related matters.">
{% endblock metadescription %}

{% block content %}
    <div id="team">
        <div class="popup" id="russell">
            <div class="header">Russell Keith-Magee</div>
            <div class="content">

                <p>
                    <img src="{{ STATIC_URL }}img/speakers_russelkeithmagee.png" alt="Russell Keith-Magee" />
                    <p class="circusrole">Circus role: Antipode</p>
                    Russell has been a core developer on the Django project since January 2006. He is an active participant on the Django Users and Django Developers mailing lists, and has been a mentor in the Google Summer of Code since 2008. He is also President of the Django Software Foundation, and co-founder of TradesCloud.com. He lives with his wife, son, daughter, and two cats in Perth, Western Australia.
                </p>
                <p><a href="http://twitter.com/freakboy3742"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="popup" id="craig">
            <div class="header">Craig Kerstiens</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers_craigheroku.png" alt="Craig Kerstiens" />
                    I'm one of the team at Heroku, currently working on the Heroku Postgres team. At Heroku I've launched our Python and Django support, worked to improve the broader platform, and now guide the product on the Heroku Postgres offering.
                </p>
                <p><a href="http://twitter.com/craigkerstiens"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="popup" id="andrew">
            <div class="header">Andrew Godwin</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers_andrewgodin.png" alt="Andrew Godwin" />
                    <p class="circusrole">Circus role: Rigger</p>
                    Andrew is a Python programmer, Django core developer and the author of South, the Django migrations framework, and has been programming, maintaining and herding machines for over a decade. When he's not sitting in front of a computer screen, he enjoys flying planes, archery, and cheese.
                </p>
                <p><a href="http://twitter.com/andrewgodwin"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="popup" id="jeff">
            <div class="header">Jeff Lindsay</div>
            <div class="content">
                <p>
                    <img src="{{ STATIC_URL }}img/speakers_jeff.png" alt="Jeff Lindsay" />
                    <p class="circusrole">Circus role: Snake Charmer</p>
                    Freelance software developer and open source wizard. Previously worked at Twilio and NASA. Founded SuperHappyDevHouse and Hacker Dojo.
                </p>
                <p><a href="http://twitter.com/progrium"><img src="{{ STATIC_URL }}img/i_t.png" /></a></p>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
{% endblock content %}