{% extends 'index.html' %}

{% block content %}

<div class="about box">
    <div class="header">
        Meet the Team
    </div>

    <div id="speakers">
        <a href="/team/#olasitarska">
        <div>
            <img src="{{ STATIC_URL }}img/team_ola.png" />
            <h4>Ola Sitarska</h4>
            <span><a href="http://twitter.com/olasitarska">@olasitarska</a></span>
        </div>
        </a>
        <a href="/team/#agata">
        <div>
            <img src="{{ STATIC_URL }}img/team_agata.png" />
            <h4>Agata Radzińska</h4>
            <span><a href="http://twitter.com/agatrra">@agatrra</a></span>
        </div>
        </a>
        <a href="/team/#olasendecka">
        <div>
            <img src="{{ STATIC_URL }}img/team_olas.png" />
            <h4>Ola Sendecka</h4>
            <span><a href="http://twitter.com/asendecka">@asendecka</a></span>
        </div>
        </a>
        <a href="/team/#kuba">
            <div>
                <img src="{{ STATIC_URL }}img/team_kuba.png" />
                <h4>Kuba Kucharski</h4>
                <span><a href="http://twitter.com/83tb">@83tb</a></span>
            </div>
        </a>
        <a href="/team/#tomek">
        <div>
            <img src="{{ STATIC_URL }}img/team_tomek.png" />
            <h4>Tomek Paczkowski</h4>
            <span><a href="http://twitter.com/oinopion">@oinopion</a></span>
        </div>
        </a>
    </div>
</div>
{% endblock content %}