{% extends 'index.html' %}

{% block title %}
	<title>DjangoCon Europe 2013 - the organisers</title>
{% endblock title %}

{% block metadescription %}
	<meta name="description" content="At your service! Meet the team behind DjangoCon Europe 2013.">
{% endblock metadescription %}

{% block content %}

<div class="about box">
    <div class="header">
        Meet the Team
    </div>

    <div id="speakers">
        <a href="/team/#olasitarska">
        <div>
            <img src="{{ STATIC_URL }}img/team/olasitarska.png" alt="Ola Sitarska" />
            <h4>Ola Sitarska</h4>
            <span><a href="http://twitter.com/olasitarska">@olasitarska</a></span>
        </div>
        </a>
        <a href="/team/#agata">
        <div>
            <img src="{{ STATIC_URL }}img/team/agata.png" alt="Agata Radzińska" />
            <h4>Agata Radzińska</h4>
            <span><a href="http://twitter.com/agatrra">@agatrra</a></span>
        </div>
        </a>
        <a href="/team/#olasendecka">
        <div>
            <img src="{{ STATIC_URL }}img/team/olasendecka.png" alt="Ola Sendecka" />
            <h4>Ola Sendecka</h4>
            <span><a href="http://twitter.com/asendecka">@asendecka</a></span>
        </div>
        </a>
        <a href="/team/#kuba">
            <div>
                <img src="{{ STATIC_URL }}img/team/kuba.png" alt="Kuba Kucharski" />
                <h4>Kuba Kucharski</h4>
                <span><a href="http://twitter.com/83tb">@83tb</a></span>
            </div>
        </a>
        <a href="/team/#tomek">
        <div>
            <img src="{{ STATIC_URL }}img/team/tomek.png" alt="Tomek Paczkowski" />
            <h4>Tomek Paczkowski</h4>
            <span><a href="http://twitter.com/oinopion">@oinopion</a></span>
        </div>
        </a>
        <a href="/team/#jarek">
        <div>
            <img src="{{ STATIC_URL }}img/team/jarek.png" alt="Jarek Piotrowski" />
            <h4>Jarek Piotrowski</h4>
            <span><a href="http://twitter.com/JarekP">@JarekP</a></span>
        </div>
        </a>
    </div>
</div>
{% endblock content %}