{% extends 'index.html' %}

{% block content %}
<div id="team">
    <div class="popup">
        <div class="header">Ola Sitarska</div>
        <div class="content">
            <p>
            <img src="{{ STATIC_URL }}img/team/ola.png" />
            Cupcake ipsum dolor sit amet applicake topping wafer sesame snaps. I love jelly-o halvah. Caramels bear claw marshmallow dragée gummi bears. Candy canes caramels cupcake cupcake marzipan I love I love lemon drops. Gingerbread I love wafer marzipan. Wypas topping cupcake I love cookie jelly-o biscuit tart biscuit. Sugar plum gummi bears croissant.
            Chocolate bar biscuit lemon drops jelly-o dragée tiramisu sesame snaps dessert tiramisu. Wafer tiramisu I love. Dragée chupa chups cake. Fruitcake candy wypas. Gummi bears cookie l
            </p>
        </div>
    </div>
    <div class="popup">
        <div class="header">Ola Sitarska</div>
        <div class="content">
            <p>
                <img src="{{ STATIC_URL }}img/team/ola.png" />
                Cupcake ipsum dolor sit amet applicake topping wafer sesame snaps. I love jelly-o halvah. Caramels bear claw marshmallow dragée gummi bears. Candy canes caramels cupcake cupcake marzipan I love I love lemon drops. Gingerbread I love wafer marzipan. Wypas topping cupcake I love cookie jelly-o biscuit tart biscuit. Sugar plum gummi bears croissant.
                Chocolate bar biscuit lemon drops jelly-o dragée tiramisu sesame snaps dessert tiramisu. Wafer tiramisu I love. Dragée chupa chups cake. Fruitcake candy wypas. Gummi bears cookie l
            </p>
        </div>
    </div>
    <div class="popup">
        <div class="header">Ola Sitarska</div>
        <div class="content">
            <p>
                <img src="{{ STATIC_URL }}img/team/ola.png" />
                Cupcake ipsum dolor sit amet applicake topping wafer sesame snaps. I love jelly-o halvah. Caramels bear claw marshmallow dragée gummi bears. Candy canes caramels cupcake cupcake marzipan I love I love lemon drops. Gingerbread I love wafer marzipan. Wypas topping cupcake I love cookie jelly-o biscuit tart biscuit. Sugar plum gummi bears croissant.
                Chocolate bar biscuit lemon drops jelly-o dragée tiramisu sesame snaps dessert tiramisu. Wafer tiramisu I love. Dragée chupa chups cake. Fruitcake candy wypas. Gummi bears cookie l
            </p>
        </div>
    </div>
</div>
{% endblock content %}