{% extends 'index.html' %}

{% block title %}
    <title>Venue - DjangoCon Europe 2013</title>
{% endblock title %}

{% block content %}
<div class="popup venue">
    <div class="header">
       Venue
    </div>
    <div class="content">
        This year, to bring you even more awesomeness, we're gonna have two venues. It wouldn't be too comfortable to code in a Circus (however it'd be quite an extraordinary event), so we're only going to do the talks there.

        <h3>Circus Venue</h3>
        <img src="{{ STATIC_URL }}img/circus_venue.png" width="350" />
        <p>The most green, calm and quiet area you can find in Warsaw. Horse Racing Track in Warsaw. Colorful circus tent in the center of it. Water fountain right next to it. And sunbeds. And hammocks. And even some blankets to lie down on a green, fresh grass. Yes, we can't wait too.</p>

        <p>
        	<b>Horse Racing Track</b><br />
        	Poleczki 49, Warsaw - <a href="https://maps.google.com/maps/ms?msa=0&msid=207071853817411426890.0004d50e2684d66443409&ie=UTF8&t=h&z=12&vpsrc=1&iwloc=0004d50e2ac289e28c0a2" target="_blank">click here for the map</a><br />
        	<a href="http://torsluzewiec.pl/">TorSłużewiec.pl</a>
        </p>

        <div style="clear:both;"></div>

        <h3>Sprints Venue</h3>
        <img src="{{ STATIC_URL }}img/sprints_venue.png" width="350" />
        <p>Is there a better place to fix some code and work on Django than the old Cheesecake Factory? We don't think so :) The best startup accelerator in Warsaw <a href="http://www.hardgamma.com/ventures/">HardGamma Ventures</a> will host us in their own space in the heart of Warsaw. We hope to eat some great cheesecake, too!</p>
        <p>
        	<b>Gamma Factory</b><br />
        	Hoża 51, Warsaw - <a href="https://maps.google.com/maps/ms?msa=0&msid=207071853817411426890.0004d50e2684d66443409&ie=UTF8&t=m&source=embed&ll=52.230323,20.997963&spn=0.100935,0.295601&z=12&vpsrc=0&iwloc=0004d50e35886508ecd50" target="_blank">click here for the map</a><br />
        	<a href="http://www.hardgamma.com/gammafactory/?lang=en">GammaFactory.com</a>
        <div style="clear:both;"></div>

        <h3>Map</h3>
        <iframe width="350" height="234" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=207071853817411426890.0004d50e2684d66443409&amp;ie=UTF8&amp;t=m&amp;ll=52.164877,20.997963&amp;spn=0.049068,0.120163&amp;z=12&amp;output=embed"></iframe>
        <p>
        	We started creating DjangoCon Europe 2013 map of handful places in Warsaw. There are only venues, entrances and some hotels now, but we're going to add more pubs, clubs, cafes and great spots you shouldn't miss while here :)
        </p>
        <p>
        	See larger <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=207071853817411426890.0004d50e2684d66443409&amp;ie=UTF8&amp;t=m&amp;ll=52.164877,20.997963&amp;spn=0.049068,0.120163&amp;z=12&amp;source=embed">DjangoCon Europe 2013 map</a>.
        </p>

        <div style="clear:both;"></div>
    </div>
</div>
{% endblock content %}
